{% extends "screener/layouts/base.html" %}
{% block Title %}{% endblock  %}
{% load static %}

{% block customCDN %}{% endblock  %}

{% block customStyle %}

<style>
    .bullish {
      color: green;
      font-weight: bold;
    }

    .bearish {
      color: red;
      font-weight: bold;
    }

    .neutral {
      color: orange;
      font-weight: bold;
    }

    .highlight-green {
      background-color: #e7f9e7;
    }

    .highlight-red {
      background-color: #fdeaea;
    }
  </style>
{% endblock  %}

{% block Content %}

<div class="">
    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <div class="card-body" style="overflow: auto;" >
            {{render_str}}
        </div>
    </div>
    
  </div>

{% endblock  %}


{% block customJS %}

<script type="module" src="{% static 'client_panel/screener_js/index.js' %}"></script>

{% endblock  %}

{% block customJscript %}{% endblock  %}